
{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}
{% block body %}

{# {{ dump(app.user.roles) }}
{{ dump(is_granted('ROLE_ADMIN')) }} #}

<div class="container">
<h1 class="create">Bienvenue dans la page de l'Admin </h1>

{{ form_start(User) }}
{{ form_widget(User) }}
<button  name="submit_button" id="submit_button">Ajouter</button>
{{ form_end(User) }}


<h3>La liste des utilisateurs</h3>

<table width="50%" border="1" cellspacing="1" cellpadding="7" class="table Pseudo">
 
<tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Demande de Congés</th>
    <th>Profil</th>
</tr>
  {% for user in users %}
  <tr>
    <td>{{ user.nom|e }}</td>
    <td>{{ user.prenom|e }}</td>
    <td>{{ user.email|e }}</td>
    <td>
    {% for conge in conges %}
    {% if ((user.id == conge.iduser) and (conge.statut[0]=='en cours')) %}
    <a href={{path('conge_user', {'id': user.id, 'conge':conge.id})}}><button class="button">Vérifier</button></a>
    </br>
{% endif %}
    {% endfor %}
    </td>
    <td><a href={{path('profile_user', {'id': user.id})}}><button class="button">Consulter</button></a></td>
  </tr>
  {% endfor %}
</table>
  
</div>

   <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
   
  <script language = "javascript">
        $(document).ready(function () {
//form reset 
$("input:text").val(""); 
            $.ajax({
                url: '{{ path('security_register') }}',
                type: 'POST',
                dataType: 'json',
                async: true,
                success: function (data) {
                    console.log(data);
                  //   for (i = 0; i < data.length; i++)
                  //   {
                  //       $('.Pseudo').append('<tr><td>' + data[i].nom + '</td></tr>'); // Filling in the lines of the table
                        
                  //   }
                }
            });
        });
  
    </script> 
   <style> 
      .table { border-collapse: collapse; } 
      .table th, td { 
         border-bottom: 1px solid #ddd; 
         width: 250px; 
         text-align: left; 
         align: left; 
      } 
   </style> 

   <table class = "table">  
      <tbody id = "user"></tbody>  
   </table>     
   </br>
<a href="{{path('security_logout')}}"><button>logout</button></a>
{% endblock %} 
